---
import Layout from '../../layouts/Layout.astro';
import Notes from '../../components/Notes.astro';
---
<Layout title="Велес | Моррис Град">
    <main class="container">
        <h1>Велес</h1>

        <div class="shimmer-line"></div>
        
        <Notes />
    </main>
  
</Layout>